@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500&family=Special+Elite&display=swap");

@font-face {
  src: url("./fonts/circus.woff2");
  font-family: "Circus";
}
@font-face {
  src: url("./fonts/Freakshow.otf");
  font-family: "Freakshow";
}
@font-face {
  src: url("./fonts/Sandorian-Normal.otf");
  font-family: "Sand";
}
