body {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  font-family: monospace;
  -webkit-overflow-scrolling: auto;

  @include mobile {
    body {
      max-width: 100vw !important;
    }
  }
}

.container {
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: auto !important;
  max-width: 100vw !important;
  min-width: 100%;
}

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

span {
  font-family: monospace;
}

a {
  z-index: 7;
}

.content {
  position: relative;
  padding-top: 100px;
  width: 98vw;
  display: flex;
  justify-content: center;

  @include mobile {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    padding-top: 0;
    position: relative;

    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 64px;
  height: 64px;
  // border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
  font-size: 32px;
}
.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #000;
  z-index: 1000000000000;
}

.loading-text {
  color: white;

  font-family: monospace;
  font-size: 21px;
  line-height: 1.5;
  width: 400px;
}
