.project-writeup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  padding-left: 100px;

  @include mobile {
    padding-left: 10px;
    padding-top: 0;
    height: 300px;
    margin-top: -50px;
    z-index: 50;
  }
}

.projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*  //   justify-content: center; */
  align-items: center;
  background-image: url("./images/pinwheel3.jpg");
  background-size: auto;
  padding: 0;
  margin: 0;
  background-position: 50%;

  @include mobile {
    height: 800px;
    background-size: cover;
    background-position: 50%;
  }

  @include tablet {
    height: 600px;
  }
}

.project1 {
  padding-top: 50px;

  display: flex;
  flex-direction: column;

  @include mobile {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.project2 {
  width: 100vw;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./images/scary.jpeg");
  background-size: cover;

  @include mobile {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    height: 800px;
  }

  @include tablet {
    height: 600px;
  }
}
.project3 {
  width: 100vw;
  padding-top: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./images/stripes.jpg");
  background-size: cover;

  @include mobile-tall {
    height: 90vh;
  }

  @include tablet {
    height: 600px;
  }
}
.p1-bg {
  background-image: url("./images/pinwheel3.jpg");
  background-size: cover;
  background-position: 50%;
  @include mobile {
    background-size: cover;
  }
}
.p2-bg {
  background-image: url("./images/scary.jpeg");
  background-size: contain;
  @include mobile {
    background-size: cover;
    background-position: 50%;
  }
}
.p3-bg {
  background-image: url("./images/stripes.jpg");
  background-size: contain;
  @include mobile {
    background-size: cover;
    background-position: 50%;
  }
}
.p4-bg {
  background-image: url("./images/bg4.jpg");
  background-size: contain;
  @include mobile {
    background-size: cover;
    background-position: 50%;
  }
}
.p5-bg {
  background-image: url("./images/bg6.jpeg");
  background-size: contain;
  @include mobile {
    background-size: cover;
    background-position: 50%;
  }
}
.project4 {
  position: relative;
  width: 100vw;
  padding-top: 0px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("./images/bg4.jpg");
  background-size: cover;

  @include mobile {
    height: 740px;
  }

  @include tablet {
    height: 600px;
  }
}

.project-img {
  height: auto;
  width: 500px;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
}
.box {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;

  @include mobile {
    height: 100%;
    max-width: 100%;
    padding-top: 15px;
    margin-bottom: 0;
    margin-right: 0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.project-txt {
  width: 400px;
  padding: 50px;
  padding-left: 0;
  margin-top: 50px;
  font-family: monospace;
  color: antiquewhite;
  font-size: 16px;
  z-index: 7;

  @include mobile {
    width: 90%;
    padding-bottom: 12px;
    padding: 0;
    margin: 0;
  }
}
.box2 {
  height: 100%;
  max-width: 100%;
  padding-top: 15px;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include mobile {
    display: flex;
    height: 100%;
    max-width: 100%;
    padding-top: 15px;
    margin-bottom: 0;
    margin-right: 0;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.project-title {
  position: relative;
  z-index: 5;
}
.project-title1 {
  position: absolute;
  right: 600px;
  top: 50px;
  font-family: "Special Elite", cursive;
  transform: rotate(-10deg);
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;

  @include mobile {
    position: unset;
    top: -50px;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    transform: rotate(-5deg);
    z-index: 100;
  }
}

.project3-writeup {
  padding-left: 10px;
  padding-top: 50px;
  height: 300px;
  z-index: 6;

  @include mobile {
    padding-left: 10px;
    padding-top: 50px;
    height: 200px;
    z-index: 6;
  }
}
.project4-writeup {
  padding-left: 10px;

  margin-top: 80px;
  padding-bottom: 5px;
  height: 400px;
  z-index: 6;

  @include mobile {
    padding-left: 10px;
    padding-top: 50px;
    height: 200px;
    z-index: 6;
  }

  @include tablet {
    margin-top: 0;
    padding-top: 0;
  }
}

.project-title2 {
  position: absolute;
  right: 375px;
  color: lightpink;
  top: 30px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;

  @include mobile {
    margin-top: -15px;
    position: unset;
    margin-left: 10px;
    margin-bottom: 0;
    left: 30px;
    top: 20px;
    width: 100%;
    z-index: 50000;
    font-size: 70px;
  }
}
.project2-txt {
  color: white;
  width: 70%;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}
.project2-title1 {
  position: absolute;
  left: 400px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transform: rotate(-15deg);

  text-align: center;

  @include mobile {
    position: unset;
    left: 0 !important;
    top: 0;
    z-index: 5;
    position: unset;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    z-index: 10000000;
  }

  @include tablet {
    position: absolute;
    left: 100px;
  }
}

.project2-title2 {
  position: absolute;
  left: 475px;
  color: lightpink;
  top: 10px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;

  @include mobile {
    left: 0;
    z-index: 5;
    position: unset;
    font-size: 50px;
    padding: 0;
    padding-left: 50px;
    margin: 0;
  }

  @include tablet {
    position: absolute;
    font-size: 50px;
    left: 150px;
    top: 50px;
  }
}

.project3-title1 {
  position: absolute;
  left: 500px;

  font-family: "Special Elite", cursive;
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transform: rotate(22deg);

  text-align: center;

  @include mobile {
    left: 0 !important;
    top: -100px;
    z-index: 5;
    transform: rotate(-5deg);
  }

  @include tablet {
    left: 300px;
    top: 0px;
  }
}

.project3-title2 {
  position: absolute;
  left: 475px;
  color: lightpink;
  top: 50px;
  right: 70px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;
  transform: rotate(5deg);
  @include mobile {
    left: 200px;
    line-height: 1em;
    font-size: 50px;
    top: -50px;
    z-index: 5;
  }
  @include tablet {
    transform: rotate(-12deg);
    left: 300px;
    top: 5px;
  }
}
.project4-title1 {
  position: absolute;
  left: 0px;
  top: 10px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transform: rotate(11deg);

  text-align: center;

  @include mobile {
    left: -200px;
    top: -30px;
  }

  @include tablet {
    left: -350px;
    top: 0;
  }
}

.project4-title2 {
  position: absolute;
  left: 25px;
  top: 40px;
  color: lightpink;
  line-height: 1em;

  right: 70px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;
  transform: rotate(-3deg);

  @include mobile {
    left: -150px;
    font-size: 55px;
    top: 10px;
  }

  @include tablet {
    left: -150px;
    top: -30px;
  }
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__left {
    @include mobile {
      width: 80%;
    }
  }
  &__title {
    padding-top: 100px;
    position: relative;
    height: 130px;

    width: 100%;

    @include mobile {
      padding-top: 50px;
    }

    &-1 {
      position: absolute;
      top: 0;
      left: 300px;
      font-family: "Special Elite", cursive;
      font-size: 60px;
      width: 400px;

      color: darkblue;
      background: lightblue;
      padding: 10px;
      border-radius: 10px;
      text-transform: uppercase;
      z-index: 1;
      text-align: center;

      @include mobile {
        font-size: 25px;
        width: 170px;
        padding: 6px;
        top: 0;
        left: 0;
      }
    }
    &-2 {
      top: 50px;
      left: 310px;
      position: absolute;
      color: lightpink;
      font-family: "Big Shoulders Display", cursive;
      font-size: 110px;
      text-shadow: 0px 0px 30px rgb(246, 78, 204);
      text-transform: uppercase;
      z-index: 50000;

      @include mobile {
        top: 22px;
        left: 20px;
        font-size: 50px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }
  }
  &__details {
    max-width: 400px;
    min-width: 250px;
    color: white;
    line-height: 1.5em;
    font-size: 16px;
    z-index: 1000;

    @include mobile {
      max-width: 100%;
      font-size: 12px;
      z-index: 10;
    }
  }

  &__image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  &__image {
    display: none;
    width: 100%;
    @include mobile {
      margin: 0 auto;
      display: block;
      width: 70%;
      overflow: hidden;
    }
  }
  &__links {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    z-index: 100;

    @include mobile {
      padding-top: 12px;
      width: 85%;
    }

    &-link {
      margin-right: 10px;
    }
  }
  &__tools {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    padding-bottom: 100px;
    z-index: 100;
    @include mobile {
      padding-top: 12px;
      width: 85%;
      padding-bottom: 40px;
    }
    &-tool {
      color: white;
      padding-right: 10px;
    }
  }
}

.black {
  color: black;
}

.project__tools ul {
  justify-content: flex-start;
  align-items: flex-start;
}
