@import url(https://fonts.googleapis.com/css?family=Satisfy);
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500&family=Special+Elite&display=swap");

.hide {
  display: none important!;
}

.golden {
  width: 100%;
  position: absolute;
  top: -15px;
  height: 150px;

  z-index: 10000000;
}
body {
  margin: 0;
  padding: 0;
  max-width: 100% !important;
  font-family: monospace;
  -webkit-overflow-scrolling: auto;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: auto !important;
  max-width: 100vw !important;
  min-width: 100%;
}

html {
  padding: 0;
  margin: 0;
}
.polaroid-mobile {
  display: none;
}
.flags {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 98vw;
  background-size: contain;
}
span {
  font-family: monospace;
}
.vintage__container {
  display: inline-block;

  margin: 25px auto;
  margin-bottom: -30px;
}
.vintage {
  padding: 0;
  font-family: "Six Caps", sans-serif;
  font-size: 192px;
  letter-spacing: 10px;
  line-height: 1.2;
  margin: 0;
  position: relative;
}

.vintage__top {
  background: linear-gradient(rgb(240, 220, 200), rgb(230, 200, 160));
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  z-index: 1;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.vintage__bot {
  text-shadow: 2px 1px rgb(85, 10, 0), 4px 2px rgb(90, 15, 5),
    6px 4px rgb(100, 20, 15), 8px 5px rgb(105, 25, 20),
    10px 6px rgb(110, 30, 25), 12px 7px rgb(115, 30, 30),
    14px 8px rgb(120, 30, 35), 16px 9px black, 18px 10px black, 20px 11px black,
    22px 12px black, 24px 13px black, 28px 14px rgba(0, 0, 0, 0.9),
    30px 15px rgba(0, 0, 0, 0.7), 32px 16px rgba(0, 0, 0, 0.5),
    34px 17px rgba(0, 0, 0, 0.3), 36px 18px rgba(0, 0, 0, 0.1),
    40px 20px rgba(0, 0, 0, 0.1);
}
.pinwheel {
  position: absolute;
  left: -50px;
  bottom: -100px;
  height: 400px;
  width: 400px;
  z-index: 2;
}

.intro {
  color: rgb(230, 200, 160);
  position: absolute;
  top: 140px;
  left: 300px;
  /*   //   text-align: center; */
  font-family: "Satisfy", cursive;
  font-size: 40px;
  text-shadow: 1px 1px black;
  transform: rotate(-10deg);
  margin-top: 19px;
  padding: 0;
  text-align: center;
}
.typewriter {
  color: black;
  position: absolute;
  top: 100px;
  z-index: 100;

  font-family: monospace;
  font-size: 21px;
  line-height: 1.5;
  width: 400px;
}
.typewriter2 {
  color: black;
  position: absolute;
  bottom: 60px;
  right: 390px;
  z-index: 100;

  font-family: monospace;
  font-size: 21px;
  line-height: 1.5;
  width: 400px;
}

.text-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.note {
  display: inline-block;
  position: relative;
  top: 0;
  height: 380px;
  padding: 0;
  z-index: 2;
}

.project-writeup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  padding-left: 100px;
}

.projects {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /*  //   justify-content: center; */
  align-items: center;
  background-image: url("./images/pinwheel3.png");
  background-size: auto;
  padding: 0;
  margin: 0;
  background-position: 50%;
}
.hero {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scene {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url("./images/layer1.png");

  background-size: cover;
  padding: 0;
  margin: 0;
}

.layer1 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/layer3.png");
  height: 100vh;
  width: 80vw;
  background-size: cover;
  z-index: 1;
}
.layer2 {
  overflow-x: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/l1.png");
  height: 100vh;
  width: 80vw;
  background-size: contain;
}
.layer3 {
  overflow-x: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/l2.png");
  height: 100vh;
  width: 80vw;
  background-size: contain;
}
.layer4 {
  overflow-x: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/l3.png");
  height: 100vh;
  width: 80vw;
  background-size: contain;
}
.layer5 {
  overflow: hidden !important;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("./images/l4.png");
  height: 100vh;
  width: 80vw;
  background-size: contain;
}

.ianjojo {
  top: 40px;
  left: 200px;
}
.title {
  color: rgb(230, 200, 160);
  /*   //   position: absolute; */
  position: absolute;
  bottom: 10px;
  font-family: "Satisfy", cursive;
  font-size: 80px;
  text-shadow: 1px 1px black;
  line-height: 36px;

  padding: 16px;
  text-align: center;

  z-index: 1000;
}

.project1 {
  padding-top: 50px;

  display: flex;
  flex-direction: column;
}
.project2 {
  width: 100vw;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./images/scary.jpeg");
  background-size: cover;
}
.project3 {
  width: 100vw;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./images/stripes.jpg");
  background-size: cover;
}
.project4 {
  position: relative;
  width: 100vw;
  padding-top: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("./images/bg4.jpg");
  background-size: cover;
}
.contact {
  width: 100vw;
  padding-top: 100px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-image: url("./images/bg5.jpg");
  background-size: cover;
}
.contact-top {
  margin: 0 auto;
  color: white;
  font-size: 15px;
  width: 550px;
  line-height: 1.5em;
}
.prisonmike {
  height: 300px;
}
.quote {
  color: white;
  font-size: 22px;
  width: 200px;
}

.contact-box {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skeleton {
  position: absolute;
  border-radius: 50%;
  top: -50px;
  z-index: 1000;
  height: 100px;
  right: 40px;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.ghost {
  position: absolute;
  right: 200px;
  top: 500px;
}
.tallman {
  position: absolute;
  right: 150px;
}

.clown {
  position: absolute;
  left: -250px;
  transform: rotate(30deg);
  animation: swing 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.project-img {
  height: auto;
  width: 500px;
  border-radius: 10px;
  margin: 50px;
  box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 10px 11px 3px rgba(0, 0, 0, 0.6);
}
.box {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;
}
a {
  z-index: 7;
}
.project-txt {
  width: 400px;
  padding: 50px;
  padding-left: 0;
  margin-top: 50px;
  font-family: monospace;
  color: antiquewhite;
  font-size: 16px;
  z-index: 7;
}
.box2 {
  height: 100%;
  max-width: 100%;
  padding-top: 15px;
  margin-bottom: 0;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.squareFrame {
  background: url("./images/wood.jpeg");
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  position: relative;

  width: 300px;
  box-shadow: inset 0 50px rgba(255, 255, 255, 0.1),
    inset 2px -15px 30px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  vertical-align: middle;
  text-align: center;
}

.squareFrame img {
  width: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}
.bird {
  position: absolute;
  transform: translate(700px, -300px);

  width: 200px;
  height: 200px;
  z-index: 1;
}
.project-title {
  position: relative;
  z-index: 5;
}
.project-title1 {
  position: absolute;
  right: 600px;
  top: 50px;
  font-family: "Special Elite", cursive;
  transform: rotate(-10deg);
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  text-align: center;
}

.project3-writeup {
  padding-left: 10px;
  padding-top: 50px;
  height: 300px;
  z-index: 6;
}
.project4-writeup {
  padding-left: 10px;

  margin-top: 80px;
  padding-bottom: 5px;
  height: 400px;
  z-index: 6;
}

.project-title2 {
  position: absolute;
  right: 375px;
  color: lightpink;
  top: 30px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;
}
.project2-title1 {
  position: absolute;
  left: 400px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transform: rotate(-15deg);

  text-align: center;
}

.project2-title2 {
  position: absolute;
  left: 475px;
  color: lightpink;
  top: 10px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;
}
.project3-title1 {
  position: absolute;
  left: 550px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transform: rotate(22deg);

  text-align: center;
}

.project3-title2 {
  position: absolute;
  left: 475px;
  color: lightpink;
  top: 80px;
  right: 70px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;
  transform: rotate(12deg);
}
.project4-title1 {
  position: absolute;
  left: 30px;
  top: -100px;
  font-family: "Special Elite", cursive;
  font-size: 30px;
  width: 200px;
  color: darkblue;
  background: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  transform: rotate(11deg);

  text-align: center;
}

.project4-title2 {
  position: absolute;
  left: 25px;
  top: -75px;
  color: lightpink;
  line-height: 1em;

  right: 70px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 80px;
  text-shadow: 0px 0px 30px rgb(246, 78, 204);
  text-transform: uppercase;
  transform: rotate(-3deg);
}

.newpin {
  position: absolute;
  bottom: -100px;
  left: 500px;
  height: 400px;
  z-index: 1;
}

.baby {
  position: absolute;
  bottom: -120px;
  left: -150px;
  height: 400px;
  z-index: 1;
  transform: rotate(90deg);
  animation: shake 0.5s infinite;
}

.pin4 {
  position: absolute;
  top: -50px;
  right: 160px;
  height: 400px;
  z-index: 1;
}
.shocked {
  position: absolute;
  transform: rotate(90deg);
  bottom: -200px;
  left: -25px;
  height: 400px;
  z-index: 1;
}

.content {
  position: relative;
  padding-top: 100px;
  width: 98vw;
  display: flex;
  justify-content: center;
}

.swing-1 {
  -webkit-animation: swing 4s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 4s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.swing-2 {
  -webkit-animation: swing 3.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 3.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 3.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.swing-3 {
  -webkit-animation: swing 3s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 3s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 3s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.swing-4 {
  -webkit-animation: swing 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 2.5s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.swing-5 {
  -webkit-animation: swing2 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-animation: swing2 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing2 2s infinite alternate
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}
@-moz-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}
@-ms-keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }
}

@-webkit-keyframes swing2 {
  0% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }
  100% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }
}
@-moz-keyframes swing2 {
  0% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }
  100% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }
}
@-ms-keyframes swing2 {
  0% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }
  100% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }
}
@keyframes swing2 {
  0% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    transform: rotateZ(5deg);
  }
  100% {
    -webkit-transform: rotateZ(-2deg);
    -moz-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg);
  }
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 20;
}
.polaroid > img {
  width: 100%;
  height: auto;
}
.caption {
  font-size: 1.3rem;
  text-align: center;
  line-height: em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
  z-index: 22;
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.footercontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer {
  background-image: url("./images/wood2.jpeg");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 200px;
  position: relative;
  z-index: 5;
}
li {
  list-style-type: none;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s;
}

a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.copyright {
  margin: 20px;
  font-family: monospace;
  color: antiquewhite;
  font-size: 16px;
}

li:hover {
  animation: shake 0.5s infinite ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media not all and (pointer: coarse) {
  .item:hover {
    filter: none;
    transform: scale(1, 1) rotate(0deg) !important;
    transition: all 0.35s;
  }
  .item:hover .polaroid:before {
    content: "";
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    height: 90%;
    width: 90%;
    bottom: 0%;
    right: 5%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    transition: all 0.35s;
  }

  .newpin:hover {
    -webkit-animation: swing 2.5s infinite alternate
      cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: swing 2.5s infinite alternate
      cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: swing 2.5s infinite alternate
      cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}
/* // media queries

// iphone 8 */

@media only screen and (min-width: 375px) and (max-width: 870px) {
  body {
    max-width: 100vw !important;
  }
  .contact {
    padding-top: 0;
    height: 1080px;
    background-size: cover;
    background-position: 50%;
  }

  .contact-box {
    padding-top: 10px;
    flex-direction: column;
  }

  .contact img {
    padding-bottom: 20px;
  }
  .contact-top {
    width: 90%;
  }
  .pin4 {
    position: absolute;
    top: 200px;
    right: 50px;
    height: 200px;
    z-index: 1;
  }
  li {
    font-size: 12px;
  }
  .hero {
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .note {
    width: 100%;
  }

  .intro {
    top: 10px;
    left: 10px;
  }
  .note {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    height: 200px;
    z-index: 2;
  }
  .scene {
    overflow-x: hidden !important;
    max-width: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50%;
  }
  .pinwheel {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 400px;
  }

  .typewriter {
    position: absolute;
    top: 70px;
    font-size: 12px;
    width: 240px;
  }
  .shocked {
    display: none;
  }

  .content {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
  }
  .golden {
    height: 60px;
  }
  .polaroid {
    width: 350px;
    display: none;
  }

  .project4-title1 {
    left: -200px;
  }

  .project4-title2 {
    left: -150px;
  }
  .polaroid-mobile {
    margin: 0 auto;
    display: block;
    width: 300px;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 20;
  }
  .newpin {
    height: 200px;
    z-index: unset;
    display: none;
  }
  .footercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .baby {
    height: 100px;
  }
  .project2-title1 {
    position: unset;
    left: 0 !important;
    top: 0;
    z-index: 5;
  }
  .project2-title2 {
    left: 0;
    z-index: 5;
  }
  .project3-title1 {
    // position: unset;
    left: 0 !important;
    top: -100px;
    z-index: 5;
    transform: rotate(-5deg);
  }
  .project3-title2 {
    left: 100px;
    line-height: 1em;
    font-size: 50px;
    top: -50px;
    z-index: 5;
  }
  .project3-writeup {
    padding-left: 10px;
    padding-top: 50px;
    height: 200px;
    z-index: 6;
  }
  .project4-writeup {
    padding-left: 10px;
    padding-top: 50px;
    height: 200px;
    z-index: 6;
  }
  .project4 {
    height: 740px;
  }
  .skeleton {
    border-radius: 50%;
    top: -30px;
    z-index: 1;
    right: 40px;
    height: 100px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc;
  }
  .clown {
    height: 300px;
    left: 100px;
    bottom: 200px;
  }

  .goodbye {
    color: rgb(230, 200, 160);
    /*   //   position: absolute; */
    font-family: "Satisfy", cursive;
    font-size: 60px;
    text-shadow: 1px 1px black;
    line-height: 36px;

    padding: 16px;
    text-align: center;

    z-index: 1000;
  }
  .ghost {
    height: 300px;
    z-index: -2;
    position: absolute;
    left: 60px;
    top: 100px;
  }
  .tallman {
    position: absolute;
    right: 150px;
    bottom: -100px;
  }

  .vintage__container {
    padding-top: 50px;
    height: 200px;
    width: 80%;
  }

  .content {
    padding-top: 0;
    position: relative;

    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .vintage {
    text-align: center;
    font-size: 90px !important;
    letter-spacing: 5px;
    line-height: 1;
  }
  .title {
    font-size: 50px;
    position: unset;

    margin: 0;
    padding: 20px 0;
    z-index: 100000;
  }

  .layer1 {
    position: absolute;
  }

  .project-title1 {
    position: unset;
    top: -50px;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    transform: rotate(-5deg);
    z-index: 100;
  }
  .project-title2 {
    margin-top: -15px;
    position: unset;
    margin-left: 10px;
    margin-bottom: 0;
    left: 30px;
    top: 20px;
    width: 100%;
    z-index: 50000;
    font-size: 70px;
  }

  .project-writeup {
    padding-left: 10px;
    padding-top: 0;
    height: 300px;
    margin-top: -50px;
    z-index: 50;
  }

  .project2-title1 {
    position: unset;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    z-index: 10000000;
  }

  .project2-title2 {
    position: unset;
    font-size: 50px;
    padding: 0;
    padding-left: 50px;
    margin: 0;
  }
  .projects {
    height: 800px;
    background-size: cover;
    background-position: 50%;
  }

  .project-txt {
    width: 90%;
    padding-bottom: 12px;
    padding: 0;
    margin: 0;
  }
  .project2-txt {
    color: white;
    width: 70%;
    padding: 0 20px;
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .project1 {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .project2 {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    height: 800px;
  }

  .box {
    height: 100%;
    max-width: 100%;
    padding-top: 15px;
    margin-bottom: 0;
    margin-right: 0;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .box2 {
    display: flex;
    height: 100%;
    max-width: 100%;
    padding-top: 15px;
    margin-bottom: 0;
    margin-right: 0;

    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .baby {
    position: absolute;
  }
  ul {
    max-width: 70%;
    margin: 0 auto;
    padding: 0;
  }
}
